[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.0.6"
djangorestframework = "==3.13.1"
mysqlclient = "==2.1.1"
drf-yasg = {extras = ["validation"], version = "==1.20.0"}
django-cors-headers = "==3.13.0"
[dev-packages]
pytest = "*"
black = "*"
tzdata=  "==2022.5"
